button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#color-Night{
  background-color: #46484a
}

#color-back{
  background-color: #ebebeb
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

body{
  /* width:200px; */
  background: rgb(252, 243, 169);
}